* {
    padding: 0px;
    margin: 0px;
}

html, body #fullheight {
    min-height: 100% !important;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 237, 237);
    
}

body {
    display: flex; /*make right empty*/
    justify-content: center;
}

.container {
    height: 100%;
    background-color: rgb(0, 0, 0);
    
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    height: 39% ;
    background-color: lightseagreen;
    border-radius: 50px;
    width: 330px; 
    margin-left: 13%;
    margin-top: 10px;
    padding: 10px 1px 10px 1px;/*top right bottom left*/
}

.result span {  
    margin-right: 20px; /*controll result right and left the more more left */
    font-size: 50px;
    justify-self: flex-end;
   
}

.buttons {
    padding: 0px;
    margin-top: 10px;
    margin-left: 80px; /*make button right and left the more more right*/
    width: 50%;
    height: 60%;
    /*background-color: black;*/
    display: grid; /*make number button structure  */
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 5% 20% 5% 20%; 
    gap: 1.25rem; /*distance between button right left*/
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.percent {
    background-color: #A5A5A5;
    border: none;
    color: black;
}

.item1 {
    background-color: #A5A5A5;
    border: none;
}

.item3 {
    background-color: #FF9F0A;
    border: none;
}

.numbers, .dot {
    background-color: #343434;
    border: none;
}

.negative, .clear{
    color: black;
}

.itemZero {
    background-color: #343434;
    width: 70px;
    border-radius: 135px;
    /*grid-column:span 2;*/ /*make numZero between 1 & 2 column*/ 
    border: none;
}

.selectedSigh {
    background-color: white;
    color: #FF9F0A;
}

.changedStyles {
    font-size: 10px;
}



